<script src="https://kit.fontawesome.com/96a5f0a4a3.js" crossorigin="anonymous"></script><body>
<author>
    <ul>
        <li><p>Made  with  </p></li>
        <li><i class="fas fa-heart" style="color:#f070a1; cursor: default;"></i></li>
        <li><p>  by  </p></li>
        <span class="authorText" onclick="maingithub()">
            <li><p>
                {{author}}
                </p>
            </li>
        </span>
    </ul>
</author>