<author>
    <ul>
        <li><p>Made  with  </p></li>
        <li><i class="fas fa-heart" style="color:#f070a1; cursor: default;"></i></li>
        <li><p>  by  </p></li>
        <span class="authorText" onclick="maingithub()">
            <li><p>
                {{author}}
                </p>
            </li>
        </span>
    </ul>
</author>