 body {
  background: #16ffbd;
  font-family: 'Lato', sans-serif;
  color: black;
  text-align: center;
}

.form-btns {
  justify-content: center;
  width: 70%;
  display: flex;
  margin: 0 auto;
}

.titleText {
  color:#f070a1;
}

.title {
  width: 550px; 
  margin: 6% auto 0 auto;
}

.title .header{
  font-family: 'Mansalva', cursive;
  font-size: 46px;
}

.vertical-line {
  width: 2px; /* Line width */
  background-color: #f070a1; /* Line color */
  height: 46px; /* Override in-line if you want specific height. */
  float: left; 
}

.fa-github:before {
  font-size: 28px;
}

.inline-block-child {
  display: inline-block;
  width: auto;
  padding: 0px 10px;
}

i {
  cursor: pointer;
}


form {
  width: 620px;
  margin: 4% auto;
}


.header {
  /* display:inline-block; */
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.button {
  height: 44px;
  border: none;
}
  
#longURL {
  padding-left: 10px;
  padding-right: 10px;
  width: 51%;
  background: #F0EBF4;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
  caret-color: #f070a1;
  border-right-color: #f070a1;
  float: left;
  /* padding-right: 10px;
  padding-left: 10px;; */
}

#shortURL {
  width: 17%;
  padding-left: 10px;
  padding-right: 10px;
  background: #F0EBF4;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  caret-color: #f070a1;
  float: left;
  border-radius: 0 5px 5px 0;
  FONT-WEIGHT: 500;
}


#sutdify {
  float: left;
  margin-left: 31px;
  width: 20%;
  height: 46px;
  background: #f070a1;
  font-family: inherit;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#sutdify:hover {
  background: #c34271;
}
  

#longURL:focus {
  outline: none;
}

#shortURL:focus {
  outline: none;
}

#sutdify:focus {
  outline: none;
}


#copy:focus {
  outline: none;
}

input {
  width: 600px;
  float: left;
}

input::-webkit-input-placeholder {
  color: #999;
}
input:focus::-webkit-input-placeholder {
  color: #f070a1;
}


#copy {
  width: 96%;
  height: 46px;
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  border: solid 2px #f070a1;
  cursor: pointer;
  color: #f070a1;
  /* margin-left: 5%; */
  align-self: flex-end;
}

#copy:hover { 
  background: #f070a1;
  color: white;
}

#snackbar {
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: black; /* Black background color */
  color: #F0EBF4; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 25px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px;
  letter-spacing: 1px; /* 30px from the bottom */
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

author li {
  letter-spacing: 2px;
  font-family: inherit;
  display:inline-block;
}

author ul {
  padding: 5% 0 0 0;
}

header {
  margin-top: 16px; 
  margin-bottom: 48px; 
  justify-content: space-between;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 0%;
  /* text-align: left; */
}

header a {
  font-size: 26px;
  color: black; 
  /* margin-right: 16px;  */
  text-decoration: none; 
  /* margin-left: 10%; */
}

.tooltip {
  position: relative;
  display: flex;
  width: 100px;
  margin-left: 29px;
  bottom: 0px;
}

.tooltip .tooltiptext {
  /* visibility: hidden; */
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  width: 150px;
  letter-spacing: 1px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 85%;
  left: 50%;
  margin-left: -90px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip .tooltiptext {
  opacity: 0;
} 

.authorText p{
  color: #f070a1;
}

.authorText p:hover{
  cursor: pointer;
}

.navigator p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}
